header{
    text-align: center;
    background-color:#768a4f;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.nome{
    padding: 50px;
    color: #b3c262;
    word-spacing: 70px;
    
}

a{
    text-decoration: underline;
    color: #ffffff;
    text-decoration: none; 
     
}

.sumario{
    color:#768a4f;
}


.título{
    color:#c72546;
    font-size: 40px;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.titulo2{
    color:#66424c;
    font-size: 30px;
    text-align:justify;
    margin: 1cm 3cm 1cm;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.centro{
    text-align: center;
}

p {
    text-align: justify;
    font-size: 20px;
    margin: 1cm 3cm 1cm;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.noomis{
    width: 45%;
    margin-left: 27%;

}

.susten{
    width: 20%;
    margin-left: 40%;
}

.date{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 1cm 3cm 1cm;
}
