body{
    background: linear-gradient(to bottom, rgb(255, 255, 255), rgb(255, 255, 255));
   
}

header{
    text-align: center;
    background-color: rgba(61, 84, 21, 0.658);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.nome{
    padding: 50px;
}

.sumario{
    color: rgb(249, 255, 250);
}

a{
   text-decoration: none; 
}

.título{
    color: rgb(21, 74, 33);
    font-size: 40px;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.titulo2{
    color: rgb(21, 74, 33);
    font-size: 30px;
    text-align:justify;
    margin: 1cm 3cm 1cm;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.centro{
    text-align: center;
}

p {
    text-align: justify;
    font-size: 20px;
    margin: 1cm 3cm 1cm;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.noomis{
    width: 45%;
    margin-left: 27%;

}

.susten{
    width: 20%;
    margin-left: 40%;
}
